@odoo-brand-primary: #d2444e;
@odoo-brand-optional: #b51a1a;

// Make the main navbar not transparent on the app switcher.
.o_app_switcher_background:not(.o_app_switcher_background_custom) .o_main_navbar {
    background-color: @odoo-brand-primary;
}

// Change the color of the background on the app switcher.
// Use a flat gradient to override the gradient defined in web_enterprise.
.o_app_switcher_background {
    .o-skew-gradient(#303030, #303030);
}
